@CHARSET "ISO-8859-1";

.pp {
color: #8a6d3b;
	background-color: #fcf8e3;
}

.dd {
	color: #3c763d;
	background-color: #dff0d8;
}

.cc {
	color: #31708f;
	background-color: #d9edf7;
}

.aa {
	color: #a94442;
	background-color: #f2dede;
}

th{
	background-color: #d9edf7;
}

/* table{ */
	
/* 	border: 1px solid #337AB7; */
/* 	border-collapse: separate;  */
/* 	border-radius: 4px; */
/* } */